# Technical Training
### Fundamentals of Python & Data Science

In [0]:
# variables: integers
age = 26

In [2]:
print(age)
print(type(age))

26
<class 'int'>

In [0]:
cost = 5.10

In [4]:
print(type(cost))

<class 'float'>

In [0]:
usd_to_inr = 71.39

In [6]:
cost_inr = cost * usd_to_inr
cost_inr

364.089

In [7]:
# round for currencies
round(cost_inr, 2)

364.09

In [0]:
# Strings
greeting = 'Howdy!'

In [9]:
for character in greeting:
  # separate every character with some string like ".."
  print(character, end='..')

H..o..w..d..y..!..

In [0]:
# lists
numbers = [1, 5, 9, 7, 6, 10]

In [11]:
# Operate on each list item with a loop
for number in numbers:
  # multiply each item by 2
  print(number * 2)

2
10
18
14
12
20

In [0]:
# using a range for a series of x values from 0 to 10 inclusive
x_list = range(0, 11)

In [13]:
# use a list comprehension for iterating over values
y_values = [x_value ** 2 for x_value in x_list]
y_values

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
list(x_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
# escaping characters
greetings = 'Howdy it\'s nice to meet you'

In [16]:
greetings

"Howdy it's nice to meet you"

In [0]:
# control flow with lists
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [18]:
if 'Pluto' in planets:
  print("It's still a planet!")
else:
  print('Voted out, it was too small anyway...')

Voted out, it was too small anyway...

In [0]:
# list functions
planets.append("Pluto")

In [20]:
# list slicing
planets[0:5]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [21]:
# more complicated slicing (reversing order)
planets[::-1]

['Pluto',
 'Neptune',
 'Uranus',
 'Saturn',
 'Jupiter',
 'Mars',
 'Earth',
 'Venus',
 'Mercury']

In [0]:
my_dictionary = {
  "Mercury" : "1st planet",
  "Venus": "2nd planet"
  # ...
}

In [23]:
my_dictionary

{'Mercury': '1st planet', 'Venus': '2nd planet'}

In [24]:
my_dictionary.keys()

dict_keys(['Mercury', 'Venus'])

In [25]:
planet_initials = { planet: planet[0] for planet in planets }
planet_initials

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Pluto': 'P',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

In [0]:
# functions
def value_squared(input_value):
  return input_value ** 2

In [27]:
round(value_squared(5.2), 2)

27.04

In [0]:
# list comprehensions with functions
x_values = range(10, 21) # 10 to 20 inclusive

In [29]:
y_values = [value_squared(x) for x in x_values]
y_values

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [30]:
len(y_values)

11

In [0]:
# pandas
import pandas as pd

In [0]:
# online link
dataset_url = 'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv'

In [33]:
print(pd)

<module 'pandas' from '/usr/local/lib/python3.6/dist-packages/pandas/__init__.py'>

In [0]:
# read csv from url
my_frame = pd.read_csv(dataset_url)

In [35]:
# relevant functions to view data
my_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [36]:
my_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [37]:
# get a random sample of the data
my_frame.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
53            5.5          2.3           4.0          1.3  versicolor
144           6.7          3.3           5.7          2.5   virginica
76            6.8          2.8           4.8          1.4  versicolor
125           7.2          3.2           6.0          1.8   virginica
122           7.7          2.8           6.7          2.0   virginica

In [38]:
# slicing on dataframe (first 3 values)
my_frame.iloc[0:3]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [0]:
# Classes in Python
class Dog:
  # create a "dunder" (double underscore) init function
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def change_name(self, new_name):
    self.name = new_name
  
  # use the string dunder to change how the class is printed
  def __str__(self):
    # use string formatting for more readable code
    return '{} is {} year(s) old'.format(self.name, self.age)

In [0]:
my_dog = Dog("Cooper", 5)

In [41]:
print(my_dog)

Cooper is 5 year(s) old

In [0]:
my_dog_2 = Dog("Max", 3)

In [43]:
print(my_dog_2)

Max is 3 year(s) old